# dependencies
/node_modules
/dist
/.angular
/.output
/.sass-cache
/tmp
/out-tsc
/.eslintcache
/.stylelintcache

# environment-specific
.env
.env.*
!.env.example

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.eslintcache
.stylelintcache

# IDE / Editor
.vscode/
.idea/
*.swp
*.swo
.DS_Store

# build
*.tsbuildinfo
